HEAD
# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.idea
.git
.vscode
.claude

**/.DS_Store
**/dist
**/.vite
**/.env
**/node_modules
origin/feature/setup-backend
